@font-face {
    font-family: "Venose";
    src: url(../assets/fonts/Venose.ttf);
}

@font-face {
    font-family: "Josefin";
    src: url(../assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Josefin-italic";
    src: url(../assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}