

.sect{

    &__inter{
        width:calc(100% + 3vw);
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 8vh;
        background-color: var( --color--bggris);
        margin: 10vh 0 10vh -1.5vw;

        &>h2{
            font-size: 6vw;
            
        }
    }
    &__interBtn{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 5vw;
    }
}