.sect {
  &__contenut2 {
    width: 100%;
    height: auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1.5vw;
    margin: 20vh 0;
  }
}

.contenut2 {
  &__colG {
    width: 100%;
    height: 60%;
    margin: 0 0 0 0;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__colD {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    padding: 0 5vw;

    & > h2 {
      margin: 8vh 0 0 0vw;
      font-size: 8vw;
      text-align: center;
    }
  }

  &__boxTxt {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;

    > div {
      transform: translateY(28px);
    }
  }
}


@media(min-width:600px){
    .sect {
        &__contenut2 {
          flex-direction: row;
          column-gap: 1.5vw;
        }
      }

      .contenut2 {
        &__colG {
          width: 50%;
          height: 95%;
          margin: 2% 0 0 0;
          max-height: 90vh;
          overflow: hidden;
      
        }
      
        &__colD {
          width: 40%;
          row-gap: 5vh;
          padding: 0 0vw;
          & > h2 {
            margin: 0 0 0 -20%;
            font-size: 5vw;
          }
        }
      
        &__boxTxt {
          row-gap: 2vh;
        }
      }
}