:root {
 --main-font: 'Josefin';
 --main-italic: 'Josefin-italic';
 --main-title: 'Venose';

 --color-bg: #F8F5F1;
 --color-beige: #F8F3EB;
 /* --color-fonce: #211F25; */
 --color-fonce: #414D63;
 --color-gris:  #727986;
}
@font-face {
  font-family: "Josefin";
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Josefin-italic";
  src: url(./assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}


.body{
  padding: 80px 1.5vw ;
  font-family: 'Josefin';
  background: var(--color-bg);
  
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
