

.sect{

    &__contenut1{
        width: calc(100% + 1.5vw);
        min-height: 100vh;
        height: auto;
        margin: 10vh 0 10vh -1.5vw;
        display: flex;
        flex-direction: column-reverse;
        column-gap: 3vw;
        row-gap: 4vh;

    }

    &__title{

        
        &--ecartG{
            margin: 0 0 0 -4vw;
        }
    }

    &__txt{

        &--boldIta{
            font-family: 'Josefin-italic';
            font-weight: 800;
            line-height: 180%;
        }
    }
}

.contenut{
    &--2{
        font-size: 12.5vw;
        font-weight: 300;

    }
    &__colG{
        width: 100%;
        height: 100%;
       
    }

    &__img{
        width: 100%;
        height: 80%;
        object-fit: cover;
        object-position: center;

    }
    &__colD{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 6vh;
        position: relative;
        padding: 0 5.5vw;

        &>h2{
            font-size: 8.5vw;
        }

        // &::before{
        //     content: " ";
        //     width: 20%;
        //     height: 300px;
        //     background: url('https://images.unsplash.com/photo-1569593891049-52fda784ac90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=828&q=80');
        //     background-size: cover;
        //     background-position: center;
        //     position: absolute;
        //     right: 0;
        //     top: 60%;
            
        // }

    }

    &__boxTxt{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1.5vh;

        &>p{
            max-width: 50ch;
        }
    }
    &__link{
        color: var(--color-gris);
        transition: 0.3s;
        text-decoration: underline;

        &:hover{
            transition: 0.3s;
            color: var(--color-fonce);
            text-decoration: none;
        }
    }
}


@media(min-width:600px){
    .sect{

        &__contenut1{
            min-height: 100vh;
            height: auto;
            flex-direction: row;
            align-items: center;
        }   
        &__title{ 
            
            &--ecartG{
                margin: 0 0 0 -4vw;
            }
        }
    
        &__txt{
    
            &--boldIta{
                font-family: 'Josefin-italic';
                font-weight: 800;
                line-height: 180%;
            }
        }
    }

    .contenut{
    &--2{
        font-size: 12.5vw;
        font-weight: 300;

    }
    &__colG{
        width: 35%;
        height: 100vh;
        //border: 2px solid red;
    }
    // &__img{
    //     height: 100%;
    // }
    &__colD{
        width: 60%;
        row-gap: 6vh;
        padding: 0;
        justify-content: flex-end;
        &>h2{
            font-size: 5vw;
        }
    }

    &__boxTxt{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 1.5vh;

        &>p{
            max-width: 50ch;
        }
    }
}

}